.landingPage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: url("../../group-25.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 50px 20px 50px;
}