@keyframes example {
    from {left:-10%}
    to {left:100%}
}

.loader{
    display:flex;
    flex-direction: column;
    position:fixed;
    left:0px;
    top:0px;
    height:100vh;
    width:100vw;
    background-color:black;
    opacity:0.9;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:1000
}

.loader-img{
    transform: rotate(270deg);
    height:123px;
    opacity:1;
    position: relative;
    /* left:40px */
    /* animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite */;

}

.h-logo{
    position:relative;
    opacity:1;
    left:-40px;
    /* animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite */
}

.loader-text{
    color:white;
    opacity:1;
    font-size:2em;
    font-family: "Open Sans";
    /* position:relative;
    top:20% */
}


@keyframes grow-in {
    0% {height:0;}

    100% { height:100vh}
  }


.loader-anim{
animation: grow-in 0.5s ease-in forwards;
}