.hotel-box{
    display:flex;
    flex-direction: column;
    /* background-color:yellow; */
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    color:white;
    font-family: 'Open Sans';
    width:260px;
    height:208px;
    margin:0px 15px 30px 15px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    /* border-radius:5px; */
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover
}

.hotel-box:hover{
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.hotel-box-content{
    display:flex;
    flex-direction: column;
    width: 260px;
  /* height: 59px; */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), #000000);
  box-sizing: border-box;
}

.hotel-box-min-rate {
    font-family: 'Open Sans';
}

.hotel-box-name{
display:flex;
font-size:16px;
box-sizing: border-box;
padding-left:13px;
font-family: 'Open Sans';
justify-content: flex-start
}

.hotel-box-details{
    display:flex;
    flex-direction:row;
    font-size:0.7em;
    justify-content: space-between;
    align-items: center;
    padding-left:13px;
    padding-right: 8px;
    box-sizing: border-box;
    font-size:13px;
    }
.hotel-box-stars{
    display:flex;
    
}
.star{
    width: 13px;
    height: 13px;
    object-fit: contain;
    background-color: rgba(246, 166, 35, 0);
}

.star-grey{
    width: 13px;
    height: 13px;
    object-fit: contain;
    background-color: rgba(216, 216, 216, 0.0);
}
@media only screen and (max-width: 768px) {
.hotel-box{
    width:180px;
    height:190px;
    /* justify-content: space-around; */
    margin:0px 8px 15px 8px;
}
.hotel-box-content{
    width:180px;
}
}