.editUserDetailsComp {
    margin:2% 4%;
    height: 100%;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.editUserDetailsLoaderContainer {
    margin:0% 4%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userDetailsFormBox {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 3%;
}
.userDetailsInputBox {
    width: 70%;
    border: solid 1px #979797;
    border-radius: 5px; 
    padding: 1.5%;
}
.validationErrorMsgsBlock {
    color: red;
    height: 10%;
}
.saveButtonRow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    font-weight: 600;
    font-size: 1em;
}
.saveDetailsButton {
    width: 20%;
    height: 100%;
    align-self: flex-end;
    margin-left: 5%;
    background-color: #48bc48;
    border-radius: 4px;
    color: white;
    outline: none;
    cursor: pointer; 
}