.hotel-box-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    /* background-color:orange; */
    /* padding-top:10px; */
    /* padding-bottom:10px; */
    margin:0px 0px;
    width:35vw;
    height:65vh;
    box-sizing:border-box;
    overflow:scroll;
    /* border: solid 1px rgba(151, 151, 151, 1); */
}
@media only screen and (max-width: 840px) {
    .hotel-box-container{
        height: 25vh;
        margin-top:2%;
        width:unset;
        flex-wrap: nowrap
    }
}
