.manage-bookings-row{
    display:flex;
    flex-direction:row;
    border-bottom: solid 1px #9b9b9b57;
    font-family: 'Open Sans';
    padding: 36px
}

@media only screen and (max-width:411px){
    .manage-bookings-row{
        flex-direction: column;
        align-items: flex-start;
        margin-top:10%;
    }
}

.manage-bookings-row-img-col{
    display:flex;
    flex-direction: column;
    width:260px;
    height:95%;
    margin:5px;
}

.manage-bookings-row-content{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin:5px 10px;
    width:80%
}


.manage-bookings-row-head{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between
}

.manage-bookings-row-head-left
{
    display:flex;
    flex-direction:column;
    flex-grow:1
}
.manage-bookings-row-head-right
{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    flex-grow:1;
}

.manage-bookings-row-cancel-btn{
    background-color:white;
    color:rgb(219, 64, 64);
    border:1px solid rgb(219, 64, 64);
    border-radius: 5px;
    padding:3%;
    font-size: 1.2em;
    box-sizing: border-box;
    position:relative;
    left:4%
}

.manage-bookings-row-cancel-btn:hover{
    background-color:rgb(219, 64, 64);
    color:white
}

.manage-bookings-row-foot{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

@media only screen and (max-width:952px){
    .manage-bookings-row-head{
        flex-direction: column;
        align-items:flex-start
    }

    .manage-bookings-row-foot{
        flex-direction: column;
        align-items: flex-start;
        margin-top:10%;
    }
}

.manage-bookings-row-foot-left{
    display:flex;
    flex-direction: column;
    flex-grow: 1
}

.manage-bookings-row-foot-right{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgba(0, 0, 0, 0.609);
    font-weight:300;
    flex-grow: 1;
}

.manage-bookings-row-hotelname{
    display:flex;
    flex-direction: row;
    font-size:30px;
    justify-content: flex-start;
    align-items:center;
    font-weight: bold;
}

.manage-bookings-row-bookingid{
    display:flex;
    flex-direction: row;
    font-size:14px;
    justify-content: flex-start;
    align-items:center;
    font-weight: 600;
}

.manage-bookings-row-bookingdate{
    display:flex;
    flex-direction: row;
    font-size:14px;
    justify-content: flex-start;
    align-items:center;
    font-weight: 600;
}

.manage-bookings-row-dates{
    display:flex;
    flex-direction: row;
    font-size:14px;
    justify-content: flex-start;
    align-items:center;
    font-weight: 600;
}

.date-arrow{
    opacity:0.45;
    font-size:25px;
    margin:0 10px
}


.manage-bookings-row-guests{
    display:flex;
    flex-direction: row;
    font-size:14px;
    justify-content: flex-start;
    align-items:center;
    font-weight: 600;
}

.manage-bookings-row-amount{
    display:flex;
    flex-direction: column;
    font-size:14px;
    justify-content: flex-start;
    align-items:center;
    font-weight: 600;
    color:black;
    font-size:30px
}