.headerLinksContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: 0%; */
    /* background-color: none; */
    
}
.headerLink {
    height: 19px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    padding-left: 20px;
    text-decoration: none;
    border:none;
    outline: none;
    background-color: transparent;
}
.headerLinkBlack {
    color: black;
    font-family: Open Sans;
    height: 19px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    padding-left: 20px;
    text-decoration: none;
    border:none;
    outline: none;
}
.SignUpHeader{
    font-family: Open Sans;
    font-size: 26px;
    color:black;
    text-align: center;
    margin:1%;
}
.close{
    cursor: pointer;
}
.popup-content{
width:40% !important;
}
@media only screen and (max-width: 1200px) {
    .popup-content{
    width:80% !important;
    }
}