.headerLinksContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}
.headerLink {
    height: 19px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    padding-left: 20px;
    text-decoration: none;
}
.turnBlack {
    color: black;
}