.icon{
  width: 100%;
  height: 120%;
  /* margin-top: 10px; */
  min-width: 25px;
}

.crop{
  width:7vh;
  height:7vh;
  margin: 5px;
  overflow: hidden;
}

.container{
  display: flex;
  flex-direction: row;
  width: 20vw;
  min-width: 100px;
}

.amenityText{
  padding-top: 2%;
  padding-left: 2%;
  flex-grow: 1;
}
