.SignUpFormContainer{
    border: 0;
    border-radius: 4px;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
    padding:8%;
    padding-top:3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* width:30%; */
    background-color: white;
}
.SignUpButton{
  background-color: #48bc48;
  border:0;
  color:white;
  padding:3%;
  margin-top:1%;
  padding-left:3%;
  padding-right:3%;
  font-size: 15px;
  outline: none;
  width:100%;
  border-radius: 4px;
  font-size: 18px;
}
.SignUpInputField{
    padding:3%;
    margin-bottom:2%;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    opacity: 0.73;
    border:1px solid #979797;
    /* box-shadow: 0 1px 3px 0 rgba(65, 80, 66, 0.5); */
    box-sizing: border-box;
}
.SignUpForm{
    display: flex;
    flex-direction: column;
    /* margin:5%; */
}
.SignUpBtnContainer{
    text-align: center;
}
::placeholder{
    font-size: 15px;
    color:black;
}
.formErrorsDiv{
    margin-left:5%;
    margin-right:5%;
    color:red;
}