.detailsPage{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* padding: 0 30px 0 30px; */
  width: 100%;
  font-family: 'Open Sans';
}

.bookingConfirmation{
  width: 100%;
  height: 35vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 5%; */
}
.lineStyle{
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#000000;
  height: 1px;
  opacity: 0.3;
}

.fullWidth{
  width: 100%;
}

.bookingText{
  font-size: 25px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  margin-top: 1%;
}

.mainBody{
  display:flex;
  flex-direction: row;
  padding: 0 5%;
  /* margin-top:2%; */
  justify-content: center;

}

.boldText{
    font-weight: bold;
}


.greenTick{
  width: 15vh;
  height: 13vh;
}

.invoicePageContainer{
  background-color: white;
  padding-top: 3%;
}

.hotelDetailsContainer{
  flex-grow: 1;
  max-width: 50vw;
  /* width:45%;
  margin-right: 5%; */
}

.bookingDetailsContainer{
   flex-grow: 1;
  margin-top: 20px;

  /* width:35%; */
}

.hotelName{
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
}

.description{
  text-align:justify;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  margin-top: 2%;
}

.amenities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  margin-top: 2%;
}

.roomType{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 2%;
}

.Booking-Summary{
    border:1px solid #979797;
    width:70%;
    margin-left:5%;
    margin:auto;
    padding:2%;
    /* opacity: 0.85; */
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    /* line-height: 3.5; */
    letter-spacing: 0.1px;
}
.Selected-Hotel-Name{
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.1px;
}
.HotelNameWithStars{
    /* border-bottom: 1px solid #9b9b9b; */
    padding-bottom:1%;
}
.PaymentPageArrowImg{
    width:65%;
    height:45%;
    /* object-fit: contain; */
}
.Search-Selected-CheckInOutDates{
    /* margin-top:1%; */
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    flex-grow: 1;
    border-radius: 4px;
    border: solid 1px #979797;
}
.Search-Selected-Rooms{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-radius: 4px;
  border: solid 1px #979797;
  /* margin: 5%; */
}
.PaymentpageArrow{
    display: flex;
    align-content: center;
    justify-content: center;
    opacity: 0.45;
}
.Search-Selected-Details{
  /* font-family: OpenSans-regular; */
  display: flex;
  flex-direction: row;
  justify-content:center;
  /* font-size: 12px; */
  font-size: 14px;
  font-weight: bold;
  padding:2%;
  /* border-bottom:1px solid #9b9b9b; */
  padding-bottom:3%;

}
.PaymentPageLine{
    opacity: 0.42;
}
.MakePaymentButton{
    width:100%;
    padding:4%;
    border-radius: 4px;
  background-color: #48bc48;
  font-family: OpenSans-regular;
  font-size: 18px;
  font-weight: 500;
  color:white;
  outline: none;
}

.BasePay{
    display: flex;
    justify-content: space-between;
    padding:2%;
}
.ServiceFee{
    display: flex;
    justify-content: space-between;
    padding:2%;
}
.Taxes{
    display: flex;
    justify-content: space-between;
    padding:2%;
}
.TotalAmount{
    display: flex;
    justify-content: space-between;
    padding:2%;
    font-weight: 600;
    padding-bottom: 5%;
}

.address{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
}

.subHeading{
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  margin-top: 4%;
}

.night{
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
}
.dataArrow{
  padding: 2%;
  font-size: 25px;
  opacity: 0.45;
  margin-right: 2%;
}

.amenitiesButton{
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #48bc48;
  margin-bottom: 3%;
}

.amenitiesButton:hover {
  cursor: pointer;
}

.expandedAmenities{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  margin-top: 2%;
  margin-bottom: 3%;
}

.hotelDescription{
  margin-bottom: 3%;
}

.backButton{
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  color: #48bc48;
  /* margin-left: 5%; */
}

.backArrow{
  font-size: 10px;
  padding-top: 5px;
}

.backSection{
  color: #48bc48;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -2%;
  margin-bottom: 2%;
}

.removeTextDecoration{
  text-decoration: none;
}
